<section class="section">
  <h1 class="title"">結帳</h1>
  <%= render 'cart' %>
  
  <hr>
  
  <h2 class="title is-size-5">收件人資訊</h2>
  <%= form_with(model: @order) do |form| %>
    <div class="columns">
      <div class="column">
        <div class="field">
        </div>

      </div>


    </div>


  <% end %>

</section>