<section class="section">
  <h1 class="title"">購物車
    <%= link_to cart_path, method: 'delete', data: { confirm: "確定要清空購物車嗎?"}, class: 'is-size-5' do %>
      <i class="far fa-trash-alt"></i>
      <span>清空購物車</span>
    <% end %>
  </h1>
  <%= render 'cart' %>
</section>